* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-rus.pc.in -text
/apertium-rus.post-rus.dix -text
/apertium-rus.rus.acx -text
/apertium-rus.rus.dix -text
/apertium-rus.rus.rlx -text
/autogen.sh -text
/configure.ac -text
dev/MiPListAlpha.csv -text
dev/adjectives_zaliznjak.txt -text
dev/apertium-rus.post-rus.dix -text
dev/apertium-rus.rus.acx -text
dev/apertium-rus.rus.dix -text
dev/apertium-rus.rus.dix.new -text
dev/apertium-rus.rus.dix.withstress -text
dev/deaccent.pl -text
dev/dump.txt -text
dev/gci2013/GCI.txt -text
dev/questions.txt -text
dev/spellrelax.xsl -text
dev/stem-list.txt -text svneol=unset#application/octet-stream
dev/syn_sem_RUS.txt -text
dev/text1.txt -text svneol=unset#application/octet-stream
dev/text1.verbs -text
dev/verbs-z.txt -text
/modes.xml -text
/rus.prob -text
texts/murmansk.ana.txt -text
texts/murmansk.raw.txt -text svneol=unset#application/octet-stream
texts/murmansk.tok.txt -text svneol=unset#application/octet-stream
