* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-rus.pc.in -text
/apertium-rus.post-rus.dix -text
/apertium-rus.rus.acx -text
/apertium-rus.rus.dix -text
/apertium-rus.rus.rlx -text
/autogen.sh -text
/configure.ac -text
dev/MiPListAlpha.csv -text
dev/MiPListAlpha_rus.csv -text
dev/adjectives_zaliznjak.txt -text
dev/apertium-rus.post-rus.dix -text
dev/apertium-rus.rus.acx -text
dev/apertium-rus.rus.dix -text
dev/apertium-rus.rus.dix.new -text
dev/apertium-rus.rus.dix.withstress -text
dev/archive/apertium-rus.rus.rlx -text
dev/deaccent.pl -text
dev/dump.txt -text
dev/gci2013/GCI.txt -text
dev/giellatekno/conv.sh -text
dev/giellatekno/export-to-apertium.sh -text
dev/giellatekno/speling-autodix-adj.py -text
dev/giellatekno/speling-autodix-n.py -text
dev/giellatekno/speling-autodix-vblex.py -text
dev/questions.txt -text
dev/spellrelax.xsl -text
dev/stem-list.txt -text svneol=unset#application/octet-stream
dev/syn_sem_RUS.txt -text
dev/text1.txt -text svneol=unset#application/octet-stream
dev/text1.verbs -text
dev/to_add.txt -text
dev/to_check.txt -text
dev/verbs-z.txt -text
expanded/README -text
expanded/diff-previous-vs-current.txt -text
/modes.xml -text
/qa.sh -text
/rus.prob -text
scripts/evaluate-tagger.py -text
test-scripts/rus.test -text
texts/codein/anglija1.raw.txt -text svneol=unset#application/octet-stream
texts/codein/anglija1.tagged.olexiy.txt -text
texts/codein/anglija1.tagged.stan98.txt -text
texts/codein/anglija1.vislcg.txt -text
texts/codein/aviapushka1.raw.txt -text svneol=unset#application/octet-stream
texts/codein/aviapushka1.tagged.stan98.txt -text
texts/codein/aviapushka1.vislcg.txt -text
texts/codein/inkvizicija.raw.txt -text svneol=unset#application/octet-stream
texts/codein/inkvizicija.vislcg.txt -text
texts/codein/innovacija1.raw.txt -text svneol=unset#application/octet-stream
texts/codein/innovacija1.tagged.stan98.txt -text
texts/codein/innovacija1.vislcg.txt -text
texts/codein/iskusstvennyj_intellekt1.raw.txt -text svneol=unset#application/octet-stream
texts/codein/iskusstvennyj_intellekt1.tagged.stan98.txt -text
texts/codein/kiev1.raw.txt -text svneol=unset#application/octet-stream
texts/codein/kiev1.tagged.olexiy.txt -text
texts/codein/kiev1.tagged.stan98.txt -text
texts/codein/kiev1.tagged.vladyslav.txt -text
texts/codein/kiev1.vislcg.txt -text
texts/codein/peresadku_serdce1.raw.txt -text svneol=unset#application/octet-stream
texts/codein/peresadku_serdce1.tagged.olexiy.txt -text
texts/codein/peresadku_serdce1.vislcg.txt -text
texts/codein/sfera1.raw.txt -text svneol=unset#application/octet-stream
texts/codein/sfera1.tagged.stan98.txt -text
texts/codein/svjataja_inkvizicija1.raw.txt -text svneol=unset#application/octet-stream
texts/codein/svjataja_inkvizicija1.tagged.stan98.txt -text
texts/codein/svjataja_inkvizicija1.vislcg.txt -text
texts/codein/uranus.raw.txt -text svneol=unset#application/octet-stream
texts/codein/uranus.tagged.olexiy.txt -text
texts/codein/uranus.vislcg.txt -text
texts/codein/zheleznaja_doroga1.raw.txt -text svneol=unset#application/octet-stream
texts/codein/zheleznaja_doroga1.tagged.olexiy.txt -text
texts/codein/zheleznaja_doroga1.tagged.stan98.txt -text
texts/codein/zheleznaja_doroga1.vislcg.txt -text
texts/cyprus.ana.txt -text
texts/cyprus.log.txt -text
texts/dva-samoubijstva.ana.txt -text
texts/dva-samoubijstva.log.txt -text
texts/dva-samoubijstva.raw.txt -text svneol=unset#application/octet-stream
texts/murmansk.ana.txt -text
texts/murmansk.log.txt -text
texts/murmansk.raw.txt -text svneol=unset#application/octet-stream
texts/murmansk.tok.txt -text svneol=unset#application/octet-stream
texts/rwanda.ana.txt -text
texts/rwanda.log.txt -text
texts/son-smešnogo-čeloveka.ana.txt -text
texts/son-smešnogo-čeloveka.log.txt -text
texts/update-log.sh -text
