* text=auto !eol
/Makefile -text
/apertium-rus.rus.acx -text
/apertium-rus.rus.dix -text
dev/adjectives_zaliznjak.txt -text
dev/dump.txt -text
dev/stem-list.txt -text svneol=unset#application/octet-stream
dev/syn_sem_RUS.txt -text
/spellrelax.xsl -text
